// .modal  {
//     z-index: 99;
//     position: fixed;
//     top: 0;
//     left: 0;
//     // transform: translate(-50%, -50%);
// }

.modal {
    transition: opacity 0.25s ease;
}

.tab {
    ul > li > button:focus {
        outline: 0;
    }
}

.favourited {
    &:focus {
        outline: 0;
    }

    span {
        content: "Favourited";
    }

    &:hover span {
        display: none;
    }

    &:hover:after {
        content: "Unfavourite";
    }
}